nav{
    background-color: sienna;
    padding:20px;
    height:80px;
}

body{
    position: relative;
}

nav a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    background-color: sienna;
    font-weight: bolder;
    font-size: 20px;
}

nav a:hover{
    color: tomato;
}

#container1
{
    margin-top: 90px;
}

#container1 img{
    height: 50%;
    width: 100%;
}

#container1 h1
{
    color: sienna;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container1 p
{
    color: black;
    font-style: italic;
    font-weight: bold;
}

#container2
{
    margin-top: 90px;
    padding-top: 70px;
    padding-right: 150px;
}

#container2 img{
    height: 300px;
}

#container2 h2{
    color: sienna;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container3
{
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#container3 h2{
    color: sienna;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container3 img{
    height: 100px;
    width: 150px;
}

form
{
    margin-left: 33%;
}

form input[type=text]
{
    border: 2px solid sienna;
    border-radius: 4px;
}

form textarea
{
    border: 2px solid sienna;
    border-radius: 4px;
}

form button
{
    background-color: sienna;
    font-weight: bold;
}

.error
{
    color: red;
}
 h3{
     color: sienna;
 }